# IDE
.vscode/
.idea/
.metadata/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Java / Maven
**/target/
**/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
!**/src/**/*.jar

# Node
frontend/node_modules/
frontend/.next/
frontend/.vercel/
